
body {
    padding: 50px;
    background-image: url('客户端终2.png'); /* 设置背景照片的路径 */
    background-size: cover; /* 让背景照片铺满整个页面 */
    background-position: center center;
    min-height: 100vh; /* 设置最小高度为视口高度 */
    animation: backgroundAnimation 0.8s infinite; /* 应用名为backgroundAnimation的动画，循环时间为10秒 */
}
@keyframes backgroundAnimation {
  0%, 100% {
    background-image: url('客户端终1.png'); /* 在动画开始和结束时显示image1.jpg */
  }
  50% {
    background-image: url('客户端终2.png'); /* 在动画中间时显示image2.jpg */
  }
}
label strong {
  font-weight: bold;
}

.custom-button{
  position: absolute;
  top: 37%;
  left: 62.5%;
  height:5vh;
  width: 12vh;
  font-family: '可爱', sans-serif;
  background-color: rgb(37, 58, 127);
  color: rgba(255, 255, 255, 0.696);;
  border-radius: 5px;
  border: none; /* 去除边框 */
  display: inline-block;
  cursor: pointer;

}
.inherent-button{
  position: absolute;
  top: 29vh;
  left: 118vh;
  height:5vh;
  width: 12vh;
  font-family: '可爱', sans-serif;
  background-color: rgba(37, 58, 127);
  color: rgba(255, 255, 255, 0.696);;
  border-radius: 5px;
  border: none; /* 去除边框 */
  display: inline-block;
  cursor: pointer;
}
.scriptbutton{
  font-weight: bold;
  position: absolute;
  padding: 6px;
  top: 36%;
  left: 60%;
  height:3%;
  width: 15%;
  text-align: center;
  font-size: 20px;
  font-family: '可爱', sans-serif;
  background-color: rgba(24, 47, 123, 0.7);
  color: rgba(255, 255, 255, 0.696);;
  border-radius: 5px;
  border: none; /* 去除边框 */
  display: inline-block;
  cursor: pointer;
}
.hidden {
  display: none;
}

.xuanzebutton {
  position: absolute;
  top: 65%;
  left: 57%;
  width: 9%;
  height: 2%;
  padding: 10px 20px; /* 按钮的内边距 */
  background-color: transparent; /* 背景颜色 */
  color: transparent; /* 文本颜色 */
  border: none; /* 去除边框 */
  border-radius: 5px; /* 圆角边框 */
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

#scriptname {
      font-weight: bold;
      position: absolute;
      top: 41.5%;
      left: 60%;
      text-align: center;
      font-family: '可爱', sans-serif;
      font-size: 15px;
      color: rgba(16, 37, 139, 0.700);
}
#file-name {
  font-weight: bold;
  position: absolute;
  top: 65.5%;
  left: 69%;
  text-align: center;
  font-family: '可爱', sans-serif;
  font-size: 20px;
  color: rgba(16, 37, 139, 0.700);
      font-weight: bold;
}

    input[type="text"]{
      position: absolute;
      top: 70.5%;
      left: 64%;
      margin: 10px 0; /* 设置垂直外边距 */
      padding: 10px; /* 设置内边距 */
      width: 10%; /* 设置宽度为父容器的50% */
      height: 50px;
      box-sizing: border-box; /* 让元素的宽度包括内边距和边框，而不会再额外增加宽度 */
      background-color: transparent; /* 设置背景颜色为透明 */
      border: none; /* 隐藏输入框的边框 */
      outline: none; /* 防止选中时出现外边框 */
      font-family: '可爱', sans-serif;
      font-size: 23px; /* 设置字体大小 */
      font-weight: bold;
      color: #0000009c; /* 设置文本颜色 */
      text-overflow: ellipsis; /* 当文本溢出时显示省略号 */
      white-space: nowrap; /* 防止文本换行 */
      overflow: hidden; /* 隐藏溢出的文本 */
    }
    input[type="submit"] {
      position: absolute;
      top: 78%;
      left: 60%;
      width: 16%;
      height: 10%;
      background-color:transparent; /* 浅蓝色 */
      color: transparent;
      border: none;
      padding: 10px 15px; /* 调整按钮的内边距 */
      font-size: 25px; /* 调整按钮的字体大小 */
      cursor: pointer;
      border-radius: 25px; /* 圆角边框 */
      transition: background-color 0.3s ease; /* 添加过渡效果 */
      margin: 10px 0; /* 设置垂直外边距 */
      box-sizing: border-box; /* 让元素的宽度包括内边距和边框，而不会再额外增加宽度 */
     
    }
  
    @font-face {
      font-family: '可爱';
      src: url('../font/DripOctober-vm0JA.ttf') format('truetype');
      
      /* 其他字体格式的引用 */
    }
    
    @font-face {
      font-family: '可爱1';
      src: url('../font/Luckyrainbowdemo-6RYxM.ttf') format('truetype');
      
      /* 其他字体格式的引用 */
    }

    #firstDropdown{
      position: absolute;
      top: 37%;
      left: 62.5%;
      font-family: '可爱', sans-serif;
      background-color: rgba(16, 37, 139, 0.794);
      color: rgba(255, 255, 255, 0.7);
      width: 150px; /* 设置选择框的宽度 */
      height: 40px; /* 设置选择框的高度 */
      font-size: 16px; /* 设置选择框中文字的大小 */
      border-radius: 5px;
    }
    #secondDropdown{
      position: absolute;
      top: 44%;
      left: 62.5%;
      font-family: '可爱', sans-serif;
      background-color: rgba(16, 36, 139, 0.701);
      color: rgba(255, 255, 255, 0.739);
      width: 150px; /* 设置选择框的宽度 */
      height: 40px; /* 设置选择框的高度 */
      font-size: 16px; /* 设置选择框中文字的大小 */
      border-radius: 5px;
    }

    .navbar {
      width: 72%;
      height: 6%;
      position: absolute;
      top: 2%;
      left: 14%;
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 0.7); /* 白色背景带有一定透明度 */
      color: rgb(52, 124, 233); /* 蓝色字体 */
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 10px 0;
    }
    
    .navbar a {
      font-family: '可爱', sans-serif;
      font-size: 30px;
      text-decoration: none;
      color: inherit;
    }
    
    #goBackBtn{
      position: absolute;
      top: 92%;
      left: 2.5%;
      width: 10%;
      height: 7%;
      background-color: rgba(255, 255, 255, 0.721);
      color: rgb(52, 124, 233); 
      font-size: 25px;
      border: none;
      border-radius: 10px;
      font-family: '可爱', sans-serif;
      cursor: pointer;
    }
