
body {
    padding: 50px;
    background-image: url('apply终.png'); /* 设置背景照片的路径 */
    background-size: cover; /* 让背景照片铺满整个页面 */
    background-position: center center;
    min-height: 100vh; /* 设置最小高度为视口高度 */
    animation: backgroundAnimation 0.8s infinite; /* 应用名为backgroundAnimation的动画，循环时间为10秒 */
}


.navbar {
    width: 72%;
    height: 6%;
    position: absolute;
    top: 2%;
    left: 14%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7); /* 白色背景带有一定透明度 */
    color: rgb(52, 124, 233); /* 蓝色字体 */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
  }
  
  .navbar a {
    font-family: '可爱', sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: inherit;
  }
  @font-face {
    font-family: '可爱';
    src: url('../font/DripOctober-vm0JA.ttf') format('truetype');
    
    /* 其他字体格式的引用 */
  }
  #dynamicDropdown{
    position: absolute;
    top: 26%;
    left: 40%;
    width: 15%;
    height: 5%;
    font-family: '可爱', sans-serif;
    font-size: 23px;
    background-color: rgb(96, 120, 212);
    color: rgba(255, 255, 255, 0.711);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  #newDropdown{
    position: absolute;
    top: 36.5%;
    left: 25.5%;
    width: 16%;
    height: 5.5%;
    font-family: '可爱', sans-serif;
    font-size: 23px;
    background-color: rgb(96, 120, 212);
    color: rgba(255, 255, 255, 0.727);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  #submitButton{
    position: absolute;
    top: 36.5%;
    left: 44.5%;
    width: 7%;
    height: 5%;
    background-color: transparent;
    color: transparent;
    border: none;
    cursor: pointer;
  }

   /* 图片上传框 */
   #image-box {
    width: 19%;
    height: 22.5%;
    border: 0px dashed #ccc;
    position:absolute;
    top: 51.3%;
    left: 28.5%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:transparent;
  }
  #image-preview {
    /* max-width: 100%; */
    max-height: 100%;
    object-fit: fill;
    display: none;
  }
  #file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  #submitImageBtn{
    position: absolute;
    top: 85.5%;
    left: 21.5%;
    width: 14%;
    height: 12.5%;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  #goBackBtn{
    position: absolute;
    top: 92%;
    left: 2.5%;
    width: 10%;
    height: 7%;
    background-color: rgba(255, 255, 255, 0.721);
    color: rgb(52, 124, 233); 
    font-size: 25px;
    border: none;
    border-radius: 10px;
    font-family: '可爱', sans-serif;
    cursor: pointer;
  }
  #result{
    position: absolute;
    top: 89%;
    left: 39%;
    font-size: 35px;
    color: #003e8ec2;
    font-weight: bold;
    font-family: '可爱', sans-serif;
  }
  #msg{
    position: absolute;
    top: 37%;
    left: 52.3%;
    font-size: 25px;
    color: #003e8ec2;
    font-family: '可爱', sans-serif;
  }
  #loading img {
    position: absolute;
    top: 37%;
    left: 52.1%;
    width: 5.5%; /* 设置图片宽度 */
    height: 4%; /* 自动计算高度，保持等比例缩小 */
    opacity: 0.7; 
}
#loading1 img {
  position: absolute;
  top: 87%;
  left: 38%;
  width: 12%; /* 设置图片宽度 */
  height: 9%; /* 自动计算高度，保持等比例缩小 */
  opacity: 0.7; 
}
